.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

@media screen and (max-width: 996px) {
  .features {
    padding: 1.5rem 1rem;
  }

  .featureSvg {
    height: 150px;
    width: 150px;
  }
}

@media screen and (max-width: 576px) {
  .features {
    padding: 1rem 0.75rem;
  }

  .featureSvg {
    height: 120px;
    width: 120px;
  }
}
